* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #cde3e8;
}

.navbar {
  background-color: #3aaa35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 110px;
}

.logo {
  width: 130px;
  height: 100%;
  background: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  flex: 1;
  margin: 0 20px;
  position: relative;
}
.search-bar input, .email, .password, .new-email, .new-password, .new-password-confirmation, .new-name {
  width: 100%;
  padding: 10px 40px 10px 10px;
  font-size: 16px;
  border: none;
  background-color: #ddd;
  border-radius: 5px;
}
.search-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 8px;
}
.burger {
  border : none;
  font-size: 24px;
  border-radius: 8px;
  stroke-width: none;
  background-color: #3aaa35;
  padding: 1rem, 1.5rem; 
}

.burger:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.burger:active {
  background-color: #006012;
}

.main-section {
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  flex: 1;
}

.content {
  display: flex;
  gap: 40px;
  max-width: 1200px;
  align-items: stretch;
}

.text-box {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  flex: 1 1 0;
  min-width: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.text-box-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-box h2 {
  font-family: 'Montserrat', sans-serif;  
  margin-bottom: 20px;
  text-align: center;
}
.text-box p {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
  
}
.text-box button {
  align-self: flex-start;
  margin-top: auto;
  padding: 10px 20px;
  background-color: #222;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.text-box button:hover {
  background-color: #444;
  box-shadow: 0 2px 6px rgba(0, 255, 60, 0.2);
}

.image-box {
  position: relative;
  flex: 1 1 0;
  min-width: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  border-radius: 8px;
  padding: 20px;
}
.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: none;

}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  color: black;
  cursor: pointer;
}

.arrow:hover {
  text-shadow: #006012 0px 0px 5px;
}
.arrow.left {
  left: -30px;
}
.arrow.right {
  right: -30px;
}

footer {
  background-color: #3aaa35;
  color: rgb(0, 0, 0);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-section {
  flex: 1;
}

.footer-center {
  text-align: center;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}

footer a {
  color: #000;
  text-decoration: none;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #cde3e8;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
  z-index: 1000;
  padding: 30px 20px;
}

.side-menu.active {
  right: 0;
}

.side-menu .close-btn {
  font-size: 24px;
  cursor: pointer;
  display: block;
  margin-bottom: 20px;
}

.side-menu .close-btn:hover {
  text-shadow: #006012 0px 0px 5px;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu li {
  margin: 20px 0;
}

.side-menu a {
  text-decoration: none;
  color: #111;
  font-size: 18px;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.carousel-images {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}
.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 5px;
}
.carousel-img.active {
  opacity: 1;
  z-index: 1;
}

.login-form, .reg-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}